.creator {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  gap: 20px;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

input.color {
  width: 50px;
  padding: 2px;
}

.button {
  max-width: 100px;
  display: flex;
  flex-wrap: nowrap;
  height: fit-content;
}
