.modal {
  z-index: -9;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.modal h2 {
  margin: 0;
}

.carNameWinner {
  width: 100%;
  text-align: center;
}
.open {
  z-index: 999;
}

.article {
  position: relative;
  z-index: -999 !important;
}
